@CHARSET "UTF-8";

@IMPORT url("../common.css"); 
table{
	border-collapse: collapse; 
	width: 80%; 
	height: 400px;
	text-align: left;
}

.center{
	table-layout: 
}
.centTd{
	 font-size: 50px;
	 text-align: center;
}
.tab{
	border: 1px solid black;
}